*.iws
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
/out/**
stacktrace.log
test/reports
*Db.properties
*Db.script
eclipse
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
